.features {

  .title {
    color: #fff;
    margin-bottom: 60px;

    @mixin atMedium {
      width: 75%;
    }

    @mixin atLarge {
      width: 50%;
    }
  }

  h2 {

    strong {
      font-weight: 500;
    }

  }

  .light-title {
    margin-top: 40px;
    font-size: 1.5rem;
  }

  .laptop {
    margin: 0 auto 0px;

    @mixin atSmall {
      margin-bottom: -25px;
    }

    @mixin atMedium {
      margin-bottom: -50px;
    }

  }

  .info-text {
    text-align: center;
    margin: 0 auto;

    @mixin atLarge {
      width: 74%;
    }
  }

  .feature-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(98,192,190, 0.50);
    margin: 0 auto;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.12);
    overflow:hidden;

    @mixin atLarge {
      width: 915px;
    }

    .feature-item {
      display: flex;
      flex-grow: 1;
      padding: 20px;
      align-items: center;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(100,193,191,0.25);

      &:last-child {
        border-bottom: none;
      }

      @mixin atMedium {
        width: 50%;

        &:nth-child(odd) {
          border-right: 1px solid rgba(100,193,191,0.25);
        }

        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }

      }
      @mixin atLarge {
        padding-left: 40px;
      }

      .feature-icon {
        width: 55px;
        height: 64px;  background: url(/assets/images/icons/hexagon.svg) no-repeat;
        margin-right: 15px;
        display: none;

        @mixin atSmall {
          display: block;
        }

      }

      span {
        font-size: 14px;
        letter-spacing: 1.5px;
        line-height: 1.12rem;
        font-weight: 500;
        color: $hcBlue;
        background: transparent;

        @mixin atMedium {
          width: 70%;
        }

      }

    }

  }

}
