.landing-nav {
 position: absolute;
 z-index: 2;
 top: 0;
 right: 0;
 left: 0;

 .container {
   position: relative;
   width: 100%;
 }

 .logo, nav {
    display: inline-block;
    position: absolute;
 }

 .logo{
  left: 0;
  margin-left: -20px;
  margin-top: 30px;
  width: 200px;
 }

 nav {
  right: 0;
  margin-top: 30px;

   .try-it {
    background: rgba(0,74,114,0.20);
    border-radius: 25px;
    padding: 10px 5px 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 0.75rem;
    letter-spacing: 1.5px;

    .pill {
      display: inline-block;
      background: #71C274;
      border-radius: 25px;
      margin-left: 5px;
      padding: 5px 15px;
      font-size: 0.81rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      transition: 200ms box-shadow ease-in-out;

      &:hover {
        box-shadow: 0 0 5px 10px rgba(113,194,116,0.50);
      }

    }

   }

 }

}
