.container {
  perspective: 1600px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  &--small {
    padding-left: 0;
    padding-right: 0;
  }

}
main {
   section {
     position :relative;
     padding-top: 80px;
     padding-bottom: 80px;
     overflow: hidden;
   }

}
