.mobile {
  background-color: #F6F9FC;

  .container {

    @mixin atMedium {
      display: grid;
      grid-template-columns: 60% auto;
      grid-template-rows: auto auto;
      grid-gap: 20px;
    }

  }

  h2 {
    font-weight: 500;
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;

    @mixin atMedium {
      margin-top: 30px;
      text-align: right;
      float: right;
      grid-column: 1 / 2;
    }

    .light-title {
      font-size: 1.9rem;
      margin-top: 20px;
      display: inline-block;

      br {
        display: inline;
        content: ' ';

        &:after {
          content: ' ';
        }

      }

      @mixin atMedium {
        text-align: right;
      }

    }

  }

  .info-text {
    text-align: center;
    margin: 0 20px;

    @mixin atMedium {
      margin-left: 10%;
      float: right;
      text-align: right;
      margin-top: -100px;
      grid-column: 1 / 2;
      grid-row: 2 / 2;
    }
  }

  .phone {
    display: none;

    @mixin atMedium {
      grid-column: 2 / 2;
      grid-row: span 2;
      display: block;

      img {
        height: 700px;
      }

    }

  }

}
